<div class="card">
  <img class="card-img-top" src="/{{woodwork.main_image}}" alt="Card image cap">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h4 class="card-title text-center mt-2" style="font-size: medium; width: fit-content; float: left;"><a class="go-to-detail-{{woodwork.id}}">{{woodwork.title}}</a></h4>
        </div>
        <div class="col col-md-auto">
          <div class="dropdown" style="width: fit-content; float: left;">
            <button class="btn border-rounded p-1" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="box-shadow: 0 0 black;"><i class="fas fa-ellipsis-v"></i></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
              <a class="dropdown-item" href="#">Modifica indirizzo</a>
              <bbutton class="dropdown-item" data-toggle="modal" data-target="#rateWoodwork-{{woodwork.id}}">Lascia una recensione</bbutton>
              <a class="dropdown-item" href="#">Annulla ordine</a>
            </div>
          </div>
        </div>
      </div>

      <!-- ratings -->
      <div class="modal fade" id="rateWoodwork-{{woodwork.id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Lascia una recensione</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              {% include 'woodworks/ratings_form.html' with woodwork=woodwork %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn border-rounded" data-dismiss="modal">Chiudi</button>
              <button type="button"
                class="btn btn-primary border-rounded rate-woodwork-submit-button-{{woodwork.id}}">Salva</button>
            </div>
      
            <script>
              $('.rate-woodwork-submit-button-{{woodwork.id}}').on('click', function () {
                $("#rateWoodwork-{{woodwork.id}}").submit()
              })
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".go-to-detail-{{woodwork.id}}").on('click', function() {
    window.location = "{% url 'woodwork_detail' woodwork.id %}"
  })
</script>