<div class="card">
  <img class="card-img-top" src="/{{woodwork.main_image}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title"><a class="go-to-detail-{{woodwork.id}}">{{woodwork.title}}</a></h4>
    <p class="card-text {{woodwork.id}}-woodwork-short-description-container">
      {{ woodwork.short_description }}
      {% if woodwork.short_description|length != woodwork.description|length %}
        <span>... <a href="#" class="{{woodwork.id}}-woodwork-show-more" >Show more</a></span>
      {% endif %}
    </p>
    <p class="card-text {{woodwork.id}}-woodwork-long-description-container" style="display: none;">
      {{ woodwork.description }}
      <a href="#" class="{{woodwork.id}}-woodwork-show-less">Show less</a>
    </p>
    <span {% if user.is_authenticated == False %} data-toggle="tooltip" title="Accedi o registrati per ordinare!" {% endif %}>
      <button data-toggle="modal" data-target="#order-{{woodwork.id}}" class="btn btn-primary border-rounded {% if user.is_authenticated == False %} disabled {% endif %}">Ordina</button>
    </span>
    <span style="float: right;">
      <button type="button" class="btn px-3" style="border: 0px; box-shadow: none !important;">
        <i class="fas fa-heart liked-{{woodwork.id}}" aria-hidden="true"></i> 
        <i class="far fa-heart unliked-{{woodwork.id}}" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn px-3 go-to-detail-{{woodwork.id}}" style="border: 0px; box-shadow: none !important;">
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
      </button>
    </span>
  </div>
</div>

<div class="modal fade" id="order-{{woodwork.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ordina {{woodwork.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'woodworks/order_form.html' with woodwork=woodwork %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn border-rounded" data-dismiss="modal">Chiudi</button>
        <button class="btn btn-primary border-rounded {{woodwork.id}}-order-submit-button">Conferma ordine</button>
      </div>

      <script>
        $('.datepicker').datepicker({
          format: "dd/mm/yyyy"
        });

        $('.{{woodwork.id}}-order-submit-button').on('click', function () {
          $("#{{woodwork.id}}-order-form").submit()
        })
      </script>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".liked-{{woodwork.id}}").hide()
    $(".unliked-{{woodwork.id}}").hide()

    {% if user.is_authenticated %}
      $.ajax({
        url: "{% url 'is_liked' woodwork.id %}",
      }).done(function(data) {
        if(data['result']) {
          $(".liked-{{woodwork.id}}").show()
          $(".unliked-{{woodwork.id}}").hide()
        } else {
          $(".unliked-{{woodwork.id}}").show()
          $(".liked-{{woodwork.id}}").hide()
        }
      })
    {% endif %}
  });

  $(".unliked-{{woodwork.id}}").on('click', function() {
    $.ajax({
      url: "{% url 'like' woodwork.id %}",
    }).done(function (data) {
      if (data['result']) {
        $(".liked-{{woodwork.id}}").show()
        $(".unliked-{{woodwork.id}}").hide()
      } else {
        $(".unliked-{{woodwork.id}}").show()
        $(".liked-{{woodwork.id}}").hide()
      }
    })
  })

  $(".liked-{{woodwork.id}}").on('click', function () {
    $.ajax({
      url: "{% url 'unlike' woodwork.id %}",
    }).done(function (data) {
      if (data['result']) {
        $(".liked-{{woodwork.id}}").hide()
        $(".unliked-{{woodwork.id}}").show()
      } else {
        $(".unliked-{{woodwork.id}}").hide()
        $(".liked-{{woodwork.id}}").show()
      }
    })
  })

  $(".go-to-detail-{{woodwork.id}}").on('click', function() {
    window.location = "{% url 'woodwork_detail' woodwork.id %}"
  })

  $(".{{woodwork.id}}-woodwork-show-more").on('click', function (event) {
    event.preventDefault()
    console.log('bella')
    $(".{{woodwork.id}}-woodwork-short-description-container").css('display','none')
    $(".{{woodwork.id}}-woodwork-long-description-container").css('display', 'block')
  })

  $(".{{woodwork.id}}-woodwork-show-less").on('click', function (event) {
    event.preventDefault()
    console.log('bella')
    $(".{{woodwork.id}}-woodwork-short-description-container").css('display', 'block')
    $(".{{woodwork.id}}-woodwork-long-description-container").css('display', 'none')
  })
</script>