{% load static %}
<hr />
<div>
  <div class="row px-2">
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <div class="view view-cascade overlay">
          <img class="card-img-top"
            src="{% static 'woodworks/gabbo.jpg' %}"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a>Gabriele Garlaschelli</a></h4>
            <a href="{% url 'about_us' %}#wp2">
              <div class="mask rgba-white-slight"></div>
            </a>
            <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/gabriele.garlaschelli/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
            <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393275418880" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <div class="view view-cascade overlay">
          <img class="card-img-top"
            src="{% static 'woodworks/moia.jpg' %}"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a>Emanuele Moia</a></h4>
            <a href="{% url 'about_us' %}#wp1">
              <div class="mask rgba-white-slight"></div>
            </a>
            <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/emanuele_moia/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
            <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393331358854" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <div class="view view-cascade overlay">
          <img class="card-img-top"
            src="{% static 'woodworks/maci.jpg' %}"
            alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a>Mariachiara Manfredini</a></h4>
            <a href="{% url 'about_us' %}#wp3">
              <div class="mask rgba-white-slight"></div>
            </a>
            <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/maci__na/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
            <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393396901694" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="{% static 'woodworks/ste.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title"><a>Stefano Valla</a></h4>
            <a href="{% url 'about_us' %}#wp3">
              <div class="mask rgba-white-slight"></div>
            </a>
            <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/stefano.valla/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
            <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393703049131" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
