{% load static %}
<hr />
<div>
  <div class="row px-2">
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <img class="card-img-top" style="height: 400px; width:auto !important;" src="https://scontent-fco1-1.cdninstagram.com/v/t51.2885-15/e35/72539240_765939627164542_8100581361103599775_n.jpg?_nc_ht=scontent-fco1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=OVo3ERWWDioAX8WVb4v&tp=18&oh=c76e25d4ae4474c3e5eaca8266a875ce&oe=5FD8D164" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><a>Gabriele Garlaschelli</a></h4>
          <a href="{% url 'about_us' %}#wp2" class="btn btn-primary">Non mi</a>
        </div>
      </div>
    </div>
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <img class="card-img-top" style="height: 400px; width:auto;" src="https://scontent-fco1-1.cdninstagram.com/v/t51.2885-15/e35/72974650_108938210483412_4829765356083328239_n.jpg?_nc_ht=scontent-fco1-1.cdninstagram.com&_nc_cat=100&_nc_ohc=MYfot2ybsV0AX_nmXMM&tp=18&oh=174184c8cd22855d6dda8ca00cc810d4&oe=5FD9C900" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><a>Emanuele Moia</a></h4>
          <a href="{% url 'about_us' %}#wp1" class="btn btn-primary">piace</a>
        </div>
      </div>
    </div>
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <img class="card-img-top" style="height: 400px; width:auto;" src="https://scontent-fco1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/62350339_2281333138797682_7800607694368761562_n.jpg?_nc_ht=scontent-fco1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=VCDNviiIPnsAX9yQFl2&tp=15&oh=91989bfe0e04684fe3e19eb928e74cb5&oe=5FD7D17C" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><a>Mariachiara Manfredini</a></h4>
          <a href="{% url 'about_us' %}#wp3" class="btn btn-primary">sta freccia</a>
        </div>
      </div>
    </div>
    <div class="mt-4 col-md-6 col-lg-3 col-12">
      <div class="card" style="min-width: 250px; max-width: 400px">
        <img class="card-img-top" src="{% static 'woodworks/ste.jpg' %}" style="height: 400px; width:auto;">
        <div class="card-body">
          <h4 class="card-title"><a>Stefano Valla</a></h4>
          <a href="{% url 'about_us' %}#wp4" class="btn btn-primary">&rarr;</a>
        </div>
      </div>
    </div>
  </div>
</div>
