<hr />
<div >
  <div class="d-flex justify-content-center flex-wrap" style="width: 100vw; overflow-x: scroll;">
    {% for ww in woodworks %}
      <div style="max-width: 400px; min-width: 300px" class="m-3">
        {% include 'components/woodwork_card.html' with woodwork=ww %}
      </div>
    {% endfor %}
    <div style="margin-top: 45vh;">
      <a class="btn-floating btn-lg btn-primary" style="border-radius: 50%; height:50px;" href="{% url 'list' %}"><i class="fas fa-chevron-circle-right" style="margin-top: 7px;" ></i></a>
    </div>
  </div>
</div>