{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' with active_link="about_us" %}
{% endblock %}

{% block content %}
  {% load static %}
  <div class="cointainer m-3">
    <div class="row">
      <div class="col-sm-4 col-12" >
        <img src="{% static 'woodworks/moia.jpg' %}" alt="Responsive image" class="img-fluid border-rounded">
      </div>
      <div class="col-sm-8 col-12">
        <h3 id="wp1" class="h3-responsive mt-3" style="text-align: center;">Emanuele Moia</h3>
        <p style="text-align: center;"><em>
          Ho 22 anni, studio scienze informatiche presso l'Unimore e sono responsabile Social Media in una società di basket in serie A2.<br>
          Ho diverse passioni tra cui lavorare il legno e nei Woodpecker sono uno degli artigiani.
        </em></p>
        <div class="text-right mt-3">
          <p style="font-size: small"><em>Nei woodpecker dal 2020</em></p>
          <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/emanuele_moia/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
          <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393331358854" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-8 col-12">
        <h3 id="wp2" class="h3-responsive mt-3" style="text-align: center;">Gabriele Garlaschelli</h3>
        <p style="text-align: center;"><em>Ho 22 anni, studio scienze informatiche presso l'Unimore e lavoro presso un'azienda informatica.<br>
          Sono anche un allenatore di pallavolo. Tra le mie passioni quella più importante è la musica. Qui mi occupo della parte fotografica.</em></p>
        <div class="text-right mt-3">
          <p style="font-size: small"><em>Nei woodpecker dal 2020</em></p>
          <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/gabriele.garlaschelli/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
            <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393275418880" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <img src="{% static 'woodworks/gabbo.jpg' %}" class="img-fluid border-rounded"
          alt="Responsive image">
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-4 col-12">
        <img src="{% static 'woodworks/maci.jpg' %}" class="img-fluid border-rounded"
          alt="Responsive image">
      </div>
      <div class="col-sm-8 col-12">
        <h3 id="wp3" class="h3-responsive mt-3" style="text-align: center;">Mariachiara Manfredini</h3>
        <p style="text-align: center;"><em>Ho 22 anni, studio Psicologia Clinico-dinamica presso l’Universitá degli studi di Padova.<br>
          Tra le mie passioni mi piace leggere con una tazza di the in mano. Svolgo la parte comunicativa nei Woodpecker.</em></p>
        <div class="text-right mt-3">
          <p style="font-size: small"><em>Nei woodpecker dal 2020</em></p>
          <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/maci__na/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
          <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393396901694" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-8 col-12">
        <h3 id="wp4" class="h3-responsive mt-3" style="text-align: center;">Stefano Valla</h3>
        <p style="text-align: center;"><em>Ho 22 anni, studio presso la Scuola internazionale di comics a Reggio Emilia.<br>
          Il mio hobby preferito sono gli scacchi e nei Woodpecker sono l'altro artigiano e l'illustratore </em></p>
        <div class="text-right mt-3">
          <p style="font-size: small"><em>Nei woodpecker dal 2020</em></p>
          <a class="btn-floating btn-lg btn-ins" type="button" role="button" href="https://www.instagram.com/stefano.valla/" style="color: chocolate; font-size: x-large;"><i class="fab fa-instagram"></i></a>
          <a class="btn-floating btn-lg btn-whatsapp" type="button" role="button" href="https://wa.me/393703049131" style="color: chocolate; font-size: x-large;"><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="col-sm-4 col-12">
        <img src="{% static 'woodworks/ste.jpg' %}" class="img-fluid border-rounded"
          alt="Responsive image">
      </div>
    </div>
  </div>
{% if user.is_authenticated %}
  {% include 'woodworks/floating_chat.html' with messages=messages %}
{% endif %}
{% endblock %}

