{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' with active_link="about_us" %}
{% endblock %}

{% block content %}
  <div class="cointainer m-3">
    <div class="row">
      <div class="col-sm-4 col-12">
        <img src="/woodworks/static/woodworks_image/20160903_234254.jpg" class="img-fluid border-rounded" alt="Responsive image">
      </div>
      <div class="col-sm-8 col-12">
        <h3 class="h3-responsive mt-3" style="text-align: center;">Emanuele Moia</h3>
        <p style="text-align: center;"><em>Una breve descrizione su Emanuele Moia, magari anche una citazione.</em></p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-8 col-12">
        <h3 class="h3-responsive mt-3" style="text-align: center;">Gabriele Garlaschelli</h3>
        <p style="text-align: center;"><em>Una breve descrizione su Gabriele Garlaschelli, magari anche una citazione.</em></p>
      </div>
      <div class="col-sm-4 col-12">
        <img src="/woodworks/static/woodworks_image/20160903_234254.jpg" class="img-fluid border-rounded"
          alt="Responsive image">
      </div>
    </div>
  </div>
{% endblock %}

