<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="min-height: 10vh">
  <a class="navbar-brand" href="{% url 'index' %}">WoodPecker</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if active_link == 'woodworks' %} active {% endif %}">
        <a class="nav-link border-rounded" href="{% url 'index' %}">Woodworks</a>
      </li>
      <li class="nav-item {% if active_link == 'about_us' %} active {% endif %}">
        <a class="nav-link border-rounded" href="{% url 'about_us' %}">Chi siamo</a>
      </li>
    </ul>

    <div class="md-form my-0" style="color: white;">
      <i class="fas fa-search prefix" style="color: white; font-size: 12pt; margin-top: 12px"></i>
      <input type="text" placeholder="Search" id="searchBar" class="form-control default white-texted">
    </div>
  </div>

  <style>
    input[type=date].white-texted:focus:not([readonly]),
    input[type=datetime-local].white-texted:focus:not([readonly]),
    input[type=email].white-texted:focus:not([readonly]),
    input[type=number].white-texted:focus:not([readonly]),
    input[type=password].white-texted:focus:not([readonly]),
    input[type=search-md].white-texted:focus:not([readonly]),
    input[type=search].white-texted:focus:not([readonly]),
    input[type=tel].white-texted:focus:not([readonly]),
    input[type=text].white-texted:focus:not([readonly]),
    input[type=time].white-texted:focus:not([readonly]),
    input[type=url].white-texted:focus:not([readonly]),
    textarea.md-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #ffffff !important;
      box-shadow: 0 1px 0 0 #ffffff !important;
      color: white !important;
    }
  </style>

</nav>