<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="min-height: 10vh">
  <a class="navbar-brand" href="{% url 'index' %}">WoodPecker</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navBar">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if active_link == 'list' %} active {% endif %}">
        <a class="nav-link border-rounded" href="{% url 'list' %}">Woodworks</a>
      </li>
      <li class="nav-item {% if active_link == 'about_us' %} active {% endif %}">
        <a class="nav-link border-rounded" href="{% url 'about_us' %}">Chi siamo</a>
      </li>
    </ul>

    <div class="md-form my-0" style="color: white;">
      <form method="get" class="form-inline my-2 my-lg-0" action="{% url 'searchbar' %}">
        <a type="submit" href="{% url 'searchbar' %}"></a>
        <input type="search" placeholder="Search" name="query" style="color: white !important;" class="form-control default white-texted" id="query">
      </form>
    </div>
    <div>
      <a type="button" href="{% url 'user_detail' %}" style="color: white !important;" class="btn btn-no-outline border-rounded waves-effect px-3 ml-4">
        <i class="fas fa-user" aria-hidden="true"></i></a>
    </div>
  </div>

  <style>
    input[type=date].white-texted:focus:not([readonly]),
    input[type=datetime-local].white-texted:focus:not([readonly]),
    input[type=email].white-texted:focus:not([readonly]),
    input[type=number].white-texted:focus:not([readonly]),
    input[type=password].white-texted:focus:not([readonly]),
    input[type=search-md].white-texted:focus:not([readonly]),
    input[type=search].white-texted:focus:not([readonly]),
    input[type=tel].white-texted:focus:not([readonly]),
    input[type=text].white-texted:focus:not([readonly]),
    input[type=time].white-texted:focus:not([readonly]),
    input[type=url].white-texted:focus:not([readonly]),
    textarea.md-textarea:focus:not([readonly]) {
      border-bottom: 1px solid #ffffff !important;
      box-shadow: 0 1px 0 0 #ffffff !important;
      color: white !important;
    }

    ::placeholder {
      color: white !important;
    }

    .btn-no-outline {
      outline: transparent;
      box-shadow: none;
    }
  </style>

</nav>