{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' with active_link="searchbar" %}
{% endblock %}

{% block content %}

  {% if allWoodworks %}
    <div class="d-flex flex-wrap" style="width: 100vw; overflow-x: auto;">
      {% for ww in allWoodworks %}
        <div style="max-width: 400px; min-width: 300px" class="m-3">
          {% include 'components/woodwork_card.html' with woodwork=ww %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="text-center my-3" style="width: 100vw; font-style: italic; color: #7d7d7d;">Ops, nessun risultato per la tua ricerca</div>
  {% endif %}

{% endblock %}

      

