{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' with active_link="searchbar" %}
{% endblock %}

{% block content %}

  {% if allWoodworks %}
    <h2>Risultati</h2>
    <div class="d-flex flex-wrap" style="width: 100vw; overflow-x: scroll;">
      {% for ww in allWoodworks %}
        <div style="max-width: 400px; min-width: 300px" class="m-3">
          {% include 'components/woodwork_card.html' with woodwork=ww %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h3>Ops</h3>
    <h4>Quel Woodwork non l'abbiamo ancora creato, perfavore cerca qualcos'altro</h4>
  {% endif %}

{% endblock %}

      

