{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-wrap" style="width: 100vw; height: 90vh; overflow-x: auto;">
  <form class="text-center border-rounded p-5" style="height: fit-content; margin: auto; min-width: 400px; border: solid 1px #9f9e9e" method="POST">
    <h2>Imposta la tua nuova password</h2>
    {% if validlink %}
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">Salva</button>
    {% else %}
      <p style="color: red;">Token non valido</p>
      <p>
        <a href="{% url 'password_reset' %}">Richiedi un nuovo token per il reset della password</a>
      </p>
    {% endif %}
  </form>
</div>
{% endblock %}