{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-wrap" style="width: 100vw; height: 90vh; overflow-x: auto;">
  <form class="text-center border-rounded p-5" style="height: fit-content; margin: auto; min-width: 400px; border: solid 1px #9f9e9e" method="POST">
    <h2>Reimposta la tua password</h2>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Invia il link di reset</button>
  </form>
</div>
{% endblock %}