{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center flex-wrap" style="width: 100vw; height: 90vh; overflow-x: scroll;">
  <form class="text-center border-rounded p-5" style="height: fit-content; margin: auto; min-width: 400px; border: solid 1px #9f9e9e" method="POST">
    <p>Ti abbiamo mandato le istruzioni per il cambio della password sulla tua email. Se effettivamente esiste un account con l'email che ci hai fornito.</p>
    <p>Se non ricevi la mail, verifica di aver inserito l'email corretta oppure controlla lo spam.</p>
  </form>
</div>
{% endblock %}