{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' %}
{% endblock %}

{% block content %}
  <div class="container-fluid mt-3" style="width: 100%;">
    <div class="row">
      <div class="col">
        <h3>
          Benvenuto, {{user.first_name}} {{user.last_name}} 
          <button type="button" class="btn btn-primary py-1 px-2" data-toggle="modal" data-target="#editUser">
            <i class="far fa-edit" aria-hidden="true"></i>
          </button>
          <div class="modal fade" id="editUser" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modifica Utente</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {% include 'user_form.html' %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn border-rounded" data-dismiss="modal">Chiudi</button>
                  <button type="button" class="btn btn-primary border-rounded user-edit-submit-button">Salva</button>
                </div>

                <script>
                  $('.datepicker').datepicker({
                      format: "dd/mm/yyyy"
                    });

                  $('.user-edit-submit-button').on('click', function() {
                    $("#userEditForm").submit()
                  })
                </script>
              </div>
            </div>
          </div>
          <span class="" style="font-size: 12pt;"><em>Non sei {{user.first_name}}?</em> <a href="{% url 'logout' %}">Esci</a></span>
        </h3>
      </div>
    </div>
    <hr style="margin-top: 0px" />
    <div class="row">
      <div class="col-12 col-md-6">
        <h6>I tuoi dati:</h6>
        <div>
          <ul class="list-group my-3">
            <li class="list-group-item">
              <span style="float: left">Email</span><span style="float: right">{{user.email}}</span>
            </li>
            <li class="list-group-item">
              <span style="float: left">Username</span><span style="float: right">{{user.username}}</span>
            </li>
            <li class="list-group-item">
              <span style="float: left">Compleanno</span><span style="float: right">{{user.customer.birthday}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <h6>I tuoi indirizzi:</h6>
        <div class="d-flex flex-wrap">
          {% for address in addresses %}
            <div class="card address-color mx-2" style="max-width: 200px;">
              <div class="card-body transparent p-2">
                {{address.address}},<br> {{address.city}} ({{address.county}}), {{address.postal_code}}<br>
                {{address.firstname}} {{address.lastname}}
              </div>
              <div>
                <span class="mr-2" style="float: right">
                  <a style="color: grey" data-toggle="modal" data-target="#editAddress-{{address.id}}">
                    <i class="far fa-edit" aria-hidden="true"></i>
                  </a>
                </span>
              </div>
              <div class="modal fade" id="editAddress-{{address.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Modifica Indirizzo</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {% include 'address_form.html' with address=address %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn border-rounded" data-dismiss="modal">Chiudi</button>
                      <button type="button" class="btn btn-primary border-rounded {{address.id}}-address-edit-submit-button">Salva</button>
                    </div>
              
                    <script>
                      $('.datepicker').datepicker({
                        format: "dd/mm/yyyy"
                      });

                      $('.{{address.id}}-address-edit-submit-button').on('click', function () {
                        $("#addressEditForm{{address.id}}").submit()
                      })
                    </script>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="d-flex align-items-center" style="max-width: 200px;">
            <button class="btn mx-3 address-color" 
              style="border-radius: 50%; padding-top: 10px; padding-bottom: 10px; padding-left: 15px; padding-right: 15px;"
              data-toggle="modal" data-target="#createAddress">
              <i class="fas fa-plus"></i>
            </button>
            <div class="modal fade" id="createAddress" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Crea Indirizzo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    {% include 'address_form.html' with create=True %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn border-rounded" data-dismiss="modal">Chiudi</button>
                    <button type="button"
                      data-dismiss="modal"
                      class="btn btn-primary border-rounded address-create-submit-button">Salva</button>
                  </div>
            
                  <script>
                    $('.datepicker').datepicker({
                      format: "dd/mm/yyyy"
                    });

                    $('.address-create-submit-button').on('click', function () {
                      $("#addressCreateForm").submit()
                    })
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <h3>I miei Woodwork Preferiti</h3>
        <hr />
      </div>
    </div>
    <div class="d-flex flex-wrap row" style="width: 100vw; overflow-x: scroll;">
      {% for woodwork in user.liked_woodworks.all %}
      <div style="max-width: 400px; min-width: 300px" class="m-3">
        {% include 'components/woodwork_card.html' with woodwork=woodwork %}
      </div>
      {% endfor %}
    </div>
    <div class="row mt-5">
      <div class="col">
        <h3>I miei ordini</h3>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col">
        {% include 'orders_section.html' with orders=orders %}
      </div>
    </div>
  </div>

  <style>
    .list-group-item {
      background-color: transparent !important;
      padding: 5px;
    }

    .transparent {
      background-color: transparent !important;
    }

    .address-color {
      background-color: #f2e9df;
    }
  </style>
{% endblock %}
