<a href="#" class="float-button" id="initialize-chat-button">
  <i class="fa fa-comments my-float"></i>
</a>

<div class="chat-box" style="display: none;">
  <div class="chat-header">
    <div class="header-message">...</div>
    <div class="actions">
      <i class="fa fa-grip-lines minify-chat"></i>
      <i class="fa fa-close close-chat"></i>
    </div>
  </div>
  <div class="messages-feed">
    {% for message in messages %}
      {% if message.sender == 'woodpecker_admin' %}
        <div class="d-flex justify-content-end" style="min-height: 30px;">
          <div></div>
          <div class="message-box" style="float: right; text-align: right;">{{message.body}}</div>
        </div>
      {% else %}
        <div class="d-flex justify-content-start" style="min-height: 30px;">
          <div></div>
          <div class="message-box" style="float: left; text-align: left;">{{message.body}}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <hr style="margin: 5px" />
  <div class="message-input-container">
    <!-- <input type="text" class=""> -->
    <input type="text" id="input" class="message-input" placeholder="Scrivici il tuo problema">
    <i class="fa fa-paper-plane send-message-button"></i>
  </div>
</div>

<div class="minified-chat-box" style="display: none;">
  <div class="chat-header minified-header">
    <span class="header-message">...</span>
    <span class="actions">
      <i class="fa fa-grip-lines unminify-chat"></i>
      <i class="fa fa-close close-chat"></i>
    </span>
  </div>
</div>

<script>
  var chatSocket;

  $(document).ready(function() {
    $("#initialize-chat-button").on('click', function() {
      showChatBox()
      if(chatSocket == undefined || chatSocket == null) {
        initializeChat()
      }
    })

    $(".close-chat").on('click', function() {
      showChatButton()
    })

    $(".minify-chat").on('click', function () {
      showMinifiedChatBox()
    })

    $(".unminify-chat").on('click', function () {
      showChatBox()
    })
  })

  function showChatBox() {
    $("#initialize-chat-button").hide()
    $(".chat-box").show()
    $(".minified-chat-box").hide()
  }

  function showMinifiedChatBox() {
    $("#initialize-chat-button").hide()
    $(".chat-box").hide()
    $(".minified-chat-box").show()
  }

  function showChatButton() {
    $("#initialize-chat-button").show()
    $(".chat-box").hide()
    $(".minified-chat-box").hide()
  }

  function operatorText(text) {
    $(".header-message").html(text)
  }

  function initializeChat() {
    operatorText('Ricerca ...')
    chatSocket = new WebSocket('ws://' + window.location.host + '/ws/accounts/chat/{{user.id}}&false/');

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);

      if(data.type == 'chat_message') {
        if (data.message_from == 'woodpecker_admin') {
          manageAdminMessage(data.message)
        } else {
          manageMineMessage(data.message)
        }
      } else if(data.type == 'close_chat_message') {
        chatSocket = null
        showChatButton()
      }
    };

    chatSocket.onopen = function(e) {
      operatorText('Connesso')
    }

    chatSocket.onclose = function (e) {
      console.error('Chat socket closed unexpectedly');
    };

    $('.message-input').on('keyup', function (e) {
      if (e.keyCode === 13) {  // enter, return
        sendMessage()
      }
    });

    $('.send-message-button').on('click', function (e) {
      sendMessage()
    });
  }

  function sendMessage() {
    const message = $(".message-input").val();
    chatSocket.send(JSON.stringify({
      'message': message,
      'from': "{{user.id}}",
      'message_type': 'chat_message'
    }));
    $(".message-input").val('');
  }

  function manageAdminMessage(text) {
    addMessage(text, 'right')
  }

  function manageMineMessage(text) {
    addMessage(text, 'left')
  }

  function addMessage(text, side) {
    var message_box_container = $("<div><div>")
    message_box_container.css('min-height', '30px')
    message_box_container.addClass('d-flex')
    if(side == 'left') {
      message_box_container.addClass('justify-content-start')
    } else {
      message_box_container.addClass('justify-content-end')
    }
    var message_box = $("<div><div>")
    message_box.css("float", side)
    message_box.css("text-align", side)
    message_box.addClass('message-box')
    message_box.html(text)
    
    message_box_container.append(message_box)
    $(".messages-feed").append(message_box_container)
  }
</script>


<style>
  :root {
    /* generic */
    --gutterSm: 0.4rem;
    --gutterMd: 0.8rem;
    --gutterLg: 1.6rem;
    --gutterXl: 2.4rem;
    --gutterXx: 7.2rem;
    --colorPrimary400: #9c5300;
    --colorPrimary600: #9c5300a1;
    --colorPrimary800: #9c53005a;
    --fontFamily: "Dosis", sans-serif;
    --lineHeightSm: 1.1;
    --lineHeightMd: 1.8;
    --transitionDuration: 300ms;
    --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);
    
    /* floated labels */
    --inputPaddingV: var(--gutterMd);
    --inputPaddingH: var(--gutterLg);
    --inputFontSize: var(--fontSizeLg);
    --inputLineHeight: var(--lineHeightMd);
    --labelScaleFactor: 0.8;
    --labelDefaultPosY: 50%;
    --labelTransformedPosY: calc(
      (var(--labelDefaultPosY)) - 
      (var(--inputPaddingV) * var(--labelScaleFactor)) - 
      (var(--inputFontSize) * var(--inputLineHeight))
    );
    --inputTransitionDuration: var(--transitionDuration);
    --inputTransitionTF: var(--transitionTF);

    /* mine */
    --paddingFromBorder: 10px;
  }

  .float-button {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #9c5300;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
  }

  .my-float {
    margin-top: 22px;
  }

  .chat-box {
    position: fixed;
    bottom: 30px;
    right: 30px;
    min-width: 200px;
    min-height: 300px;
    width: 300px;
    height: 400px;
    max-height: 95vh;
    background-color: #FFF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10;
  }

  .messages-feed {
    height: 72%;
    overflow: auto;
    padding: var(--paddingFromBorder)
  }

  .message-box {
    border: solid 0.2px rgb(208, 205, 205);
    border-radius: 0.4rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 60%;
  }

  .message-input-container {
    line-height: 40px;
    text-align: left;
    padding-left: var(--paddingFromBorder);
    padding-right: var(--paddingFromBorder);
  }

  .message-input {
    width: 90%;
    display: block;
    margin: 0;
    padding: var(--inputPaddingV) var(--inputPaddingH);
    color: inherit;
    font-family: inherit;
    font-size: var(--inputFontSize);
    font-weight: inherit;
    line-height: var(--inputLineHeight);
    border: none;
    border-radius: 0.4rem;
    float: left;
    transition: box-shadow var(--transitionDuration);
  }

  .message-input::placeholder {
    color: #B0BEC5;
  }

  .message-input:focus {
    outline: none;
    /* box-shadow: 0.2rem 0.4rem 0.6rem grey; */
  }

  .send-message-button {
    width: 10%;
    cursor: pointer;
    float: right;
    line-height: 55px;
    text-align: right;
    padding-right: var(--paddingFromBorder);
  }

  .minified-chat-box {
    position: fixed;
    bottom: 30px;
    right: 30px;
    min-width: 200px;
    max-width: 90vw;
    width: 400px;
    height: fit-content;
    z-index: 10;
  }

  .chat-header {
    background-color: #9c5300;
    color: #FFF;
    line-height: 40px;
    max-height: 40px;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: var(--paddingFromBorder);
    padding-right: var(--paddingFromBorder);
    overflow: hidden;
  }

  .minified-header {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header-message {
    max-width: 70%;
    float: left;
  }

  .actions {
    float: right;
    cursor: pointer;
  }

  .actions i {
    margin-left: 10px;
  }
</style>