{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' with active_link="list" %}
{% endblock %}

{% block content %}
  <div class="d-flex flex-wrap" style="width: 100vw; overflow-x: auto;">
    {% for woodwork in woodworks %}
      <div style="max-width: 400px; min-width: 300px" class="m-3">
        {% include 'components/woodwork_card.html' with woodwork=woodwork %}
      </div>
    {% endfor %}
  </div>

  {% include 'woodworks/floating_chat.html' with has_active_chat="has_active_chat" %}

  <script>
    // TODO unify javascript
    $(document).ready(function () {
      
    })
  </script>
{% endblock %}