{% extends 'base.html' %}

{% block navbar %}
  {% include 'navBar.html' %}
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top: 30px; height: 80vh;">
  <div class="row align-items-center" style="height: 100%">
    <div class="col d-flex justify-content-center flex-wrap">
      <div class="text-center message-container">
        <h3>Ops, qualcosa non ha funzionato</h3>
        per qualsiasi ulteriore domanda puoi contattarci con la chat in basso a destra, ricorda che 
        se c'è già un ordine in corso con questo woodwork non puoi rieffettuare l'ordine!
        <div class="mt-3">
          <a href="{% url 'list' %}" class="btn btn-primary border-rounded">Ritorna allo shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  @media (min-width: 576px) {
    .message-container {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    .message-container {
      width: 60%;
    }
  }

  @media (min-width: 992px) {
    .message-container {
      width: 40%;
    }
  }

  @media (min-width: 1200px) {
    .message-container {
      width: 40%;
    }
  }
</style>

{% endblock %}